@tailwind base;
@tailwind components;
@tailwind variants;
@tailwind utilities;
@layer base {
  html {
    @apply font-Inter mx-auto;
  }
}
@layer utilities {
  .anchor {
    line-height: inherit;
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
  }
  .h1 {
    @apply w-fit h-fit text-[1.8rem] leading-[2.125rem] font-bold tracking-[-0.005em];
  }
  .h2 {
    @apply w-fit h-fit text-[1.5rem] leading-[1.875rem] font-semibold tracking-[0em];
  }
  .h3 {
    @apply w-fit h-fit text-xl leading-[1.5rem] font-medium tracking-[0em];
  }
  .p {
    @apply w-fit h-fit text-base leading-[21px] tracking-[0em];
  }
  .outlinebody {
    @apply w-fit h-fit text-sm font-bold leading-[18px] tracking-[0.06em] uppercase;
  }
  .small {
    @apply w-fit h-fit text-[12px] leading-[12px] font-semibold tracking-[0em];
  }
  .a {
    @apply w-fit h-fit text-base leading-[21px] font-normal tracking-[0em];
  }
}
